@media handheld and (min-width:401px), (orientation:portrait) and (min-width:401px) {

}

@media (max-width:400px) {

    
}

@media tv and (min-width:401px), screen and (min-width:401px), (device-aspect-ratio: 16/9) and (min-width:401px), (device-aspect-ratio: 16/10) and (min-width:401px) {
    main#account{
        display: grid;
        width: calc(80vw - 32px);
        min-width: calc(800px - 32px);
        grid-template: max-content auto / max-content 1fr;
        grid-column-gap: 24px;
        padding: 0 16px 32px 16px;
    }

    main#account > h1{
        grid-column: 1/3;
    }

    main#account > nav > ul {
        padding: 0;
        margin: 0;
    }

    main#account > nav > ul li ,
    section.content li {
        list-style: none;
    }

    main#account button.btn-nav, 
    main#account button.btn-nav-edit {
        margin: 0;
        border-bottom: 1px solid white;
        padding: 16px 40px;
        border-radius: 0;
        width: 100%;
        width: -webkit-fill-available;
        width: -moz-fill-available;
        width: fill-available;
    }

    button.current{
        background: #d49079 !important;
    }

    button.current:hover{
        background: #aa725f !important;
    }

    button.btn-nav-edit,
    button.btn-nav-edit:hover {
        background: darkgray !important;
    }

    button.btn-nav-edit.current,
    button.btn-nav-edit.current:hover {
        background: rgb(122, 122, 122) !important;
    }

    section.current form{
        display: grid;
        justify-items: center;
    }

    section.current form input,
    section.current form div input{
        width: 296px;
    }

    section.current form button:first-of-type{
        margin: 8px 0 0 0;
    }

    section#address.current form input,
    section#address.current form div input{
        width: 416px;
    }

    section#address.current form a{
        margin: 8px 0 0 0;
        border: 1px solid #fec65b;
        background: white;
        height: max-content;
        width: max-content;
        color: #fec65b;
        border-radius: 3px;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.08);
        min-height: 14px;
        padding: 8px 40px;
        text-decoration: none;
        font-size: 13px;
        line-height: 13px;
        cursor: pointer;
        transition: 0.3s;
    }

    section#address.current form a:hover{
        border: 1px solid #f7b027;
        background: white;
        color: #f7b027;
    }

    section#address.current form div{
        justify-items: end;
        width: 434px;
    }

    section#address.current form div.grid-columns{
        grid-template-columns: auto max-content;
        grid-gap: 8px;
    }

    section#address.current input[name$=postcode]{
        width: 108px;
    }

    section#address.current input[name$=town]{
        width: 286px;
    }

    section#profile.current ul,
    section#address.current ul {
        justify-self: center;
        padding: 0;
    }

    section#address.current ul {
        width: 70%;
        margin-top: 0;
    }

    section#profile.current li{
        height: 28px;
        margin-bottom: 8px;
        border-bottom: 1px solid #fec65b;
        width: 400px;
    }

    section#address.current li{
        margin-bottom: 8px;
        border-bottom: 1px solid #fec65b;
    }

    section#address.current li button{
        visibility: hidden;
        margin: 0;
        float: right;
    }

    section#address.current li:hover button{
        visibility: visible;
    }

    section#address.current dt{
        margin-top: 8px;
        height: 32px;
    }

    section#address.current dt span{
        font-family: "Montserrat Medium";
        position: relative;
        top: 6px;
    }

    section#address.current dd{
        display: grid;
        margin: 2px 0 16px 40px;
    }

    dd span{
        font-family: "Montserrat Light";
    }

    section#profile.current > div.grid-columns{
        grid-template-columns: max-content max-content;
        justify-content: end;
        grid-gap: 4px;
    }

    section#address.current > button,
    section#profile.current > button,
    section#profile.current > div > button {
        justify-self: end;
        margin: 0;
    }

    section#address.current, 
    section#profile.current{
        grid-template-rows: max-content auto;
    }

    section.current h6{
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    section.current button + h6{
        margin: -46px 0 0 0;
    }

    section.content{
        display: none;
    }

    section.current{
        display: grid;
        grid-gap: 12px;
        width: 100%;
    }
    
}