@font-face {
  font-family: "Montserrat Black";
  src: url("../fonts/Montserrat-Black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-Black.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-Black.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-Black.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Black Italic";
  src: url("../fonts/Montserrat-BlackItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-BlackItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-BlackItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-BlackItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-BlackItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Bold Italic";
  src: url("../fonts/Montserrat-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-BoldItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Extra Bold";
  src: url("../fonts/Montserrat-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-ExtraBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-ExtraBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-ExtraBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Extra Bold Italic";
  src: url("../fonts/Montserrat-ExtraBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-ExtraBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-ExtraBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Extra Light";
  src: url("../fonts/Montserrat-ExtraLight.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-ExtraLight.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-ExtraLight.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-ExtraLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-ExtraLight.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Extra Light Italic";
  src: url("../fonts/Montserrat-ExtraLightItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-ExtraLightItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-ExtraLightItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Italic";
  src: url("../fonts/Montserrat-Italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-Italic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-Italic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-Italic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat-Light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-Light.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-Light.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Light Italic";
  src: url("../fonts/Montserrat-LightItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-LightItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-LightItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-LightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-LightItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-LightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../fonts/Montserrat-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-Medium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-Medium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-Medium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Medium Italic";
  src: url("../fonts/Montserrat-MediumItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-MediumItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-MediumItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-MediumItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-MediumItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Semi Bold";
  src: url("../fonts/Montserrat-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Semi Bold Italic";
  src: url("../fonts/Montserrat-SemiBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-SemiBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-SemiBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Thin";
  src: url("../fonts/Montserrat-Thin.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-Thin.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-Thin.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-Thin.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-Thin.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Thin.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Thin Italic";
  src: url("../fonts/Montserrat-ThinItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-ThinItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-ThinItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-ThinItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-ThinItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif Bold";
  src: url("../fonts/NotoSerif-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/NotoSerif-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/NotoSerif-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/NotoSerif-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/NotoSerif-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/NotoSerif-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/NotoSerif-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "NotoSerif Bold Italic";
  src: url("../fonts/NotoSerif-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/NotoSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/NotoSerif-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/NotoSerif-BoldItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/NotoSerif-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/NotoSerif-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/NotoSerif-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif Italic";
  src: url("../fonts/NotoSerif-Italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/NotoSerif-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/NotoSerif-Italic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/NotoSerif-Italic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/NotoSerif-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/NotoSerif-Italic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/NotoSerif-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("../fonts/NotoSerif-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/NotoSerif-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/NotoSerif-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/NotoSerif-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/NotoSerif-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/NotoSerif-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/NotoSerif-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Black";
  src: url("../fonts/Poppins-Black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-Black.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-Black.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-Black.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Black Italic";
  src: url("../fonts/Poppins-BlackItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-BlackItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-BlackItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-BlackItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-BlackItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-BlackItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-BlackItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Bold Italic";
  src: url("../fonts/Poppins-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-BoldItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Extra Bold";
  src: url("../fonts/Poppins-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-ExtraBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-ExtraBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-ExtraBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Extra Bold Italic";
  src: url("../fonts/Poppins-ExtraBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-ExtraBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-ExtraBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-ExtraBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-ExtraBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-ExtraBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Extra Light";
  src: url("../fonts/Poppins-ExtraLight.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-ExtraLight.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-ExtraLight.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-ExtraLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-ExtraLight.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-ExtraLight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Extra Light Italic";
  src: url("../fonts/Poppins-ExtraLightItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-ExtraLightItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-ExtraLightItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-ExtraLightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-ExtraLightItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-ExtraLightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Italic";
  src: url("../fonts/Poppins-Italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-Italic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-Italic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-Italic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/Poppins-Light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-Light.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-Light.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Light Italic";
  src: url("../fonts/Poppins-LightItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-LightItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-LightItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-LightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-LightItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-LightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-Medium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-Medium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-Medium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Medium Italic";
  src: url("../fonts/Poppins-MediumItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-MediumItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-MediumItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-MediumItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-MediumItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-MediumItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Semi Bold";
  src: url("../fonts/Poppins-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Semi Bold Italic";
  src: url("../fonts/Poppins-SemiBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-SemiBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-SemiBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-SemiBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-SemiBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-SemiBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Thin";
  src: url("../fonts/Poppins-Thin.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-Thin.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-Thin.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-Thin.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-Thin.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-Thin.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Thin Italic";
  src: url("../fonts/Poppins-ThinItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Poppins-ThinItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Poppins-ThinItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Poppins-ThinItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Poppins-ThinItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Poppins-ThinItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-ThinItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Black";
  src: url("../fonts/Raleway-Black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-Black.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-Black.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-Black.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Black Italic";
  src: url("../fonts/Raleway-BlackItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-BlackItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-BlackItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-BlackItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-BlackItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-BlackItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-BlackItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Bold Italic";
  src: url("../fonts/Raleway-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-BoldItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Extra Bold";
  src: url("../fonts/Raleway-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-ExtraBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-ExtraBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-ExtraBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Extra Bold Italic";
  src: url("../fonts/Raleway-ExtraBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-ExtraBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-ExtraBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-ExtraBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-ExtraBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-ExtraBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Extra Light";
  src: url("../fonts/Raleway-ExtraLight.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-ExtraLight.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-ExtraLight.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-ExtraLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-ExtraLight.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-ExtraLight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Extra Light Italic";
  src: url("../fonts/Raleway-ExtraLightItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-ExtraLightItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-ExtraLightItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-ExtraLightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-ExtraLightItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-ExtraLightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Italic";
  src: url("../fonts/Raleway-Italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-Italic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-Italic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-Italic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "Raleway Thin Italic";
  src: url("../fonts/Raleway-Italic-VariableFontwght.eot");
  src: url("../fonts/Raleway-Italic-VariableFontwght.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Italic-VariableFontwght.otf") format("opentype"),
    url("../fonts/Raleway-Italic-VariableFontwght.svg") format("svg"),
    url("../fonts/Raleway-Italic-VariableFontwght.ttf") format("truetype"),
    url("../fonts/Raleway-Italic-VariableFontwght.woff") format("woff"),
    url("../fonts/Raleway-Italic-VariableFontwght.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "Raleway Light";
  src: url("../fonts/Raleway-Light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-Light.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-Light.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Light Italic";
  src: url("../fonts/Raleway-LightItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-LightItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-LightItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-LightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-LightItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-LightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/Raleway-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-Medium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-Medium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-Medium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Medium Italic";
  src: url("../fonts/Raleway-MediumItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-MediumItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-MediumItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-MediumItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-MediumItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-MediumItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Semi Bold";
  src: url("../fonts/Raleway-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Semi Bold Italic";
  src: url("../fonts/Raleway-SemiBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-SemiBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-SemiBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-SemiBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-SemiBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-SemiBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("../fonts/Raleway-Thin.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-Thin.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-Thin.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-Thin.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-Thin.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-Thin.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Thin Italic";
  src: url("../fonts/Raleway-ThinItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-ThinItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-ThinItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-ThinItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-ThinItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-ThinItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-ThinItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "Raleway Thin";
  src: url("../fonts/Raleway-VariableFontwght.eot");
  src: url("../fonts/Raleway-VariableFontwght.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-VariableFontwght.otf") format("opentype"),
    url("../fonts/Raleway-VariableFontwght.svg") format("svg"),
    url("../fonts/Raleway-VariableFontwght.ttf") format("truetype"),
    url("../fonts/Raleway-VariableFontwght.woff") format("woff"),
    url("../fonts/Raleway-VariableFontwght.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} */
